.button {
  display: flex;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.7);
  padding: 0.45rem 0.65rem;
}
.button.selected {
  color: black;
  background: rgba(255, 255, 255, 0.95);
}
.button.disabled {
  color: rgb(110, 110, 110);
}
